<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Empresa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/img/Styles/styles.css}">

</head>

<body>
    <div>
        <nav class="nav nav-pills nav-justified">
            <a class="nav-link active" aria-current="page" th:href="@{/empresa}">Empresas</a>
            <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
            <a class="nav-link" th:href="@{/movimientoDinero}">Transacciones</a>
        </nav>
    </div>
    <div class="desplazamiento">
        <figure class="tamano margin">
            <img src="img/SecretFly.png" width="120px" height="100px" alt="Su navegador no soporta esta imagen">
        </figure>
        <h1 class="letras">Gestion de Empresas</h1>
    </div>
    <div class="centrar">
        <div class="contenedorcrearem">
            <form action="#" th:action="@{/crearEmpresa}" th:object="${empresa}" method="post">

                <h3 style="margin-bottom: 30px;" class="letras2">Nueva Empresa</h3>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
                    <div id="hola" class="form-text">Ingresa el nombre de la empresa.</div>
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="direccion" th:field="*{direccion}">
                    <div id="hello" class="form-text">Ingresa la dirección</div>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" th:field="*{telefono}" aria-describedby="emailHelp">
                    <div id="bien" class="form-text">Ingresa el teléfono</div>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>

</body>
</html>