<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Ingresos y Egresos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body class="fondo">
    <div sec:authorize="isAuthenticated()"> <!--Linea para que la pagina exija autenticacion antes de iniciar-->
        <div>
            <nav class="nav nav-pills nav-justified">
                <a class="nav-link" th:href="@{/empresa}">Empresa</a>
                <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                <a class="nav-link active" aria-current="page" href="#">Transacciones</a>
            </nav>
        </div>
        <div>
            <div>
            </div>
            <div class="desplazamiento">
                <figure class="tamano margin">
                    <img src="img/LogoFly.png" width="180px" height="140px" alt="Su navegador no soporta esta imagen">
                </figure>
                <div class="marginNav">
                    <div>
                        <h1 class="letras cuadroLetra">Transacciones</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="centrar2 marginGestion">
            <div class="recuadroForm">
                <div>
            <a th:href="@{/nuevoMovimiento}" class="btn btn-primary boton">Nuevo</a>
            <table class="table border">
                <thead>
                    <tr class="color">
                        <th class="colorletra" scope="col">Concepto</th>
                        <th class="colorletra" scope="col">Monto</th>
                        <th class="colorletra" scope="col">Fecha Actualizacion</th>
                        <th class="colorletra" scope="col">Fecha Creacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="movimientoPlata: ${x}">
                        <th scope="row" th:text = "${movimientoPlata.concepto}"></th>
                        <th scope="row" th:text = "${movimientoPlata.monto}"></th>
                        <th scope="row" th:text = "${movimientoPlata.fechaActualizacion}"></th>
                        <th scope="row" th:text = "${movimientoPlata.fechaCreacion}"></th>
                    </tr>
                </tbody>
                <!--<tfoot>
                    <tr class="color">
                        <th class="colorletra" scope="col">Total $</th>
                        <th class="colorletra" scope="col" th:text = "${total}"></th>
                    </tr>
                </tfoot>-->
            </table>   
            <div class="label">
                <div class="alinear">
                    <div>
                        <p><h5>Total $ <h4  id="total" th:text = "${total}"></h4></h5></p>
                    </div>
                </div> 
            </div>    
        </div>
    </div>
    </div>
    </div>
</body>
</html>