<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingresos y Egresos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/img/Styles/styles.css}">
</head>
<body class="fondo">
    <div>
        <nav class="nav nav-pills nav-justified">
            <a class="nav-link" th:href="@{/empresa}">Empresa</a>
            <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
            <a class="nav-link active" aria-current="page" href="#">Transacciones</a>
        </nav>
    </div>
    <div>
        <div>
        </div>
        <div class="desplazamiento">
            <figure class="tamano margin">
                <img src="img/Transacciones.jpg" width="120px" height="100px" alt="Transacciones">
            </figure>
            <h1 class="letras">Transacciones</h1>
        </div>
    </div>
    <div class="margentabla">
        <a th:href="@{/nuevoMovimiento}" class="btn btn-primary boton">Nuevo</a>
        <table class="table border">
            <thead>
                <tr class="color">
                    <th class="colorletra" scope="col">Concepto</th>
                    <th class="colorletra" scope="col">Monto</th>
                    <th class="colorletra" scope="col">Fecha Actualizacion</th>
                    <th class="colorletra" scope="col">Fecha Creacion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movimientoPlata: ${x}">
                    <th scope="row" th:text = "${movimientoPlata.concepto}"></th>
                    <th scope="row" th:text = "${movimientoPlata.monto}"></th>
                    <th scope="row" th:text = "${movimientoPlata.fechaActualizacion}"></th>
                    <th scope="row" th:text = "${movimientoPlata.fechaCreacion}"></th>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>