<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" th:href="@{/img/Styles/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="fondo">
    <div sec:authorize="isAuthenticated()"> <!--Linea para que la pagina exija autenticacion antes de iniciar-->
            <div>
                <nav class="nav nav-pills nav-justified">
                    <a class="nav-link" th:href="@{/empresa}">Empresas</a>
                    <a class="nav-link active" aria-current="page" href="#">Usuarios</a>
                    <a class="nav-link" th:href="@{/movimientoDinero}">Transacciones</a>
                </nav>
            </div>
            <div>     
                <div>
                </div>
                <div class="desplazamiento">
                    <figure class="tamano margin">
                        <img src="img/LogoFly.png" width="180px" height="140px" alt="Su navegador no soporta esta imagen">
                    </figure>
                    <div class="marginNav">
                        <div>
                            <h1 class="letras cuadroLetra">Gestion de Usuarios</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="centrar2 marginGestion">
                <div class="recuadroForm">
                    <div>
                        <a th:href="@{/crearusuario}" class="btn btn-primary boton">Nuevo</a>
                        <table class="table border">
                        <thead>
                            <tr class="color">
                                <th class="colorletra" scope="col">Nombre</th>
                                <th class="colorletra" scope="col">Correo</th>
                                <th class="colorletra" scope="col">Teléfono</th>
                                <th class="colorletra" scope="col">Eliminar</th>
                                <!--<th class="colorletra" scope="col">Editar</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="bleach: ${pikachu}">
                                <th scope="row" th:text="${bleach.nombre}"></th>
                                <th scope="row" th:text="${bleach.correo}"></th>
                                <th scope="row" th:text="${bleach.telefono}"></th>
                                <td>
                                    <form th:action="@{/crearusuario/{id}(id=${bleach.correo})}" th:method="delete">
                                        <button class="btn btn-outline-danger" type="submit">Eliminar</button>
                                    </form>
                                </td>
                                <!--
                                <td>
                                    <form th:action="@{/usuarios/{id}(id=${bleach.correo})}" method="get">
                                        <button class="btn btn-outline-warning" type="submit">Editar</button>
                                    </form>
                                </td>-->
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>        
</body>
</html>